<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>  
    <title>台灣大哥大TS_Demo</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="app">
        <div class="version">
            <ul class="quickLink">
                <span>快速連結</span>
                <li>跳過登入會員</li>
            </ul>
            <img class="AppIcon" src="./img/AppUI.png" alt="">
            <span class="updateTxt">最後更新日期: <span class="updateMsg">2023/12/01</span> </span>
        </div>
        <div class="navbar" v-if="false">
            <li>圖片1</li>
            <li>圖片2</li>
            <li>圖片3</li>
            <li>圖片4</li>
        </div>
       
        <div class="container">
            <main class="content"
            :style="`background: url(${contentBg});`"
            >
            <section class="Login">

                <div class="BtnBox" v-if="LoginStep === 0">
                    <button @click="handNextLogin" data-login="next" class="orgBtn">會員登入</button>
                    <button class="orgBtn"><a target="_blank" href="https://oauth.taiwanmobile.com/MemberOAuth/twm/login/ed69ee19c30f51db57c4428f02bc78db
                        ">會員註冊</a>
                    </button>
                </div>
                <div class="BtnBox" v-if="LoginStep === 1">
                    <button data-login="next" class="whiteBtn">下一步</button>

            </section>
            </div>

            </main>
            
        </div>
         <div class="topBar">
                
        </div>
        <div class="footer">

            <span></span>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>