* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Microsoft JhengHei;
}

body {
  height: 100vh;
  overflow: hidden;
}

#payload {
  height: 100vh;
  margin-left: 150px;
  background: #999;
  position: relative;
  z-index: 999;
}
#payload span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
}
#payload .LeftBlock {
  position: fixed;
  left: 0;
  top: 67px;
  width: 150px;
  height: 70vh;
  background: #CCC;
}

.leftNav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 100vh;
}
.leftNav .quickLink {
  width: 100%;
  padding: 1rem 0;
  background: #CCC;
}
.leftNav .quickLink .firstTitle {
  display: inline-block;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.leftNav .quickLink .firstTitle::after {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  left: 0;
  top: 100%;
  height: 2px;
  background: #FFF;
}
.leftNav .quickLink .LinkBox li {
  cursor: pointer;
  margin-top: 0.5rem;
  padding-left: 1rem;
}
.leftNav .quickLink .LinkBox li.quickLinkTitle {
  font-size: 20px;
  font-weight: bold;
}
.leftNav .quickLink .LinkBox li.active {
  color: #F00;
  font-weight: bold;
}
.leftNav .quickLink .LinkBox li:nth-child(1) {
  cursor: default;
}
.leftNav .AppIcon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.7);
  bottom: 3rem;
}
.leftNav .updateTxt {
  position: absolute;
  bottom: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.leftNav .updateTxt .updateMsg {
  text-align: center;
}

.orgBtn, .whiteBtn {
  width: 200px;
  padding: 0.5rem;
  border-radius: 20px;
  color: #FFF;
}
.orgBtn a, .whiteBtn a {
  text-decoration: none;
  color: #FFF;
}

.orgBtn2 {
  padding: 0.2rem 0.4rem;
  border-radius: 15px;
  color: #FFF;
}
.orgBtn2 a {
  text-decoration: none;
  color: #FFF;
}

.orgBtn, .orgBtn2 {
  background: rgb(255, 94, 0);
}

.whiteBtn {
  background: white;
}

.container {
  margin: auto;
  width: 450px;
  height: 900px;
  margin-top: 2rem;
  background-image: url("../img/phoneFrame.png");
  background-size: contain;
  overflow: hidden;
}

.content {
  background-repeat: no-repeat;
  background-size: cover;
  width: 390px;
  margin: auto;
  height: 790px;
  margin-top: 65px;
  overflow-y: scroll;
  position: relative;
  padding-top: 4rem;
}
.content::-webkit-scrollbar {
  display: none;
}
.content .titleMsg p {
  padding-left: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  color: #000;
}

.topBar {
  width: 390px;
  height: 40px;
  background: #777;
  position: absolute;
  z-index: -1;
  top: calc(2rem + 27px);
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  position: relative;
  z-index: 2;
  top: -45px;
  height: 18px;
  width: 375px;
  margin: auto;
  background: #000;
}
.footer span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  width: 100px;
  height: 3px;
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 840px;
  width: 390px;
  height: 50px;
  background: rgba(37, 32, 32, 0.6352941176);
  z-index: 3;
}
.navbar ul {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -10px;
}
.navbar ul li {
  width: 25%;
  height: 50px;
  text-align: center;
  color: #FFF;
}

.Login .BtnBox {
  position: absolute;
  bottom: 4rem;
  text-align: center;
}
.Login .BtnBox button {
  margin-top: 0.5rem;
}
.Login .BtnBox button.whiteBtn {
  cursor: pointer;
  transform: translateY(-180px) scale(1.5);
  margin-left: 45%;
  text-align: center;
  color: rgb(255, 94, 0);
  font-weight: bold;
}

.home .header {
  position: absolute;
  top: 0;
  width: 100%;
}
.home .header .title {
  padding-top: 1rem;
  padding-left: 1rem;
}
.home .header .title p {
  padding: 0;
  margin: 0;
  color: #FFF;
  font-weight: normal;
}
.home .header .mailIcon {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.home .ItemBox .block {
  background: #09153f;
  margin-top: 1rem;
  border-radius: 10px;
  position: relative;
}
.home .ItemBox .block:last-child {
  padding-bottom: 4rem;
  background: transparent;
}
.home .ItemBox .block .itemMsg {
  padding-bottom: 1rem;
}
.home .ItemBox .block .itemMsg a, .home .ItemBox .block .itemMsg span {
  color: #FFF;
  text-decoration: none;
}
.home .ItemBox .block .itemMsg .calldata {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1rem;
}
.home .ItemBox .block .itemMsg .calldata li {
  width: 45%;
  margin-top: 1rem;
  height: 120px;
  background: #000;
  position: relative;
}
.home .ItemBox .block .itemMsg .calldata li a {
  width: 60px;
  text-align: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: rgb(255, 94, 0);
  border-radius: 30px;
}
.home .ItemBox .block .itemMsg .calldata li span {
  display: block;
  padding-left: 1rem;
}
.home .ItemBox .block .itemMsg .calldata li span:nth-child(1) {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.home .ItemBox .block .itemMsg .calldata li span:nth-child(2) {
  font-size: 23px;
  font-weight: bold;
  color: rgb(255, 94, 0);
}
.home .ItemBox .block .itemMsg .calldata li span:nth-child(3) {
  color: #a4a8c4;
}
.home .ItemBox .block .itemMsg .calldata .btn {
  cursor: pointer;
  margin-top: 1rem;
}
.home .ItemBox .block .itemMsg .plan {
  padding-left: 1rem;
}
.home .ItemBox .block .itemMsg .bill {
  padding-left: 2rem;
  font-size: 22px;
  font-weight: bold;
  position: relative;
}
.home .ItemBox .block .itemMsg .bill span:nth-child(2) {
  position: absolute;
  right: 2rem;
}
.home .ItemBox .block .itemMsg .bill .needPay span:nth-child(1) {
  color: rgb(255, 94, 0);
}
.home .ItemBox .block .itemMsg .bill .payBox {
  display: flex;
  margin-top: 1rem;
}
.home .ItemBox .block .itemMsg .bill .payBox .payItem {
  width: 30%;
  margin-left: 1%;
  height: 120px;
  background: #030314;
  position: relative;
  cursor: pointer;
}
.home .ItemBox .block .itemMsg .bill .payBox .payItem img {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.home .ItemBox .block .itemMsg .bill .payBox .payItem span:nth-child(2) {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  font-size: 20px;
}
.home .ItemBox .block .itemTitle {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  color: #c1c2e9;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.home .ItemBox .block .itemTitle .callPayDate {
  position: absolute;
  right: 1rem;
  color: #FFF;
}
.home .ItemBox .block .itemTitle.topBorder::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 90%;
  height: 2px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #3d4971;
}
.home .ItemBox .block .see {
  position: absolute;
  right: 2rem;
  top: 1rem;
}
.home .ItemBox.home .block.otherLink {
  background: transparent;
}
.home .ItemBox.home .block.otherLink ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home .ItemBox.home .block.otherLink ul li {
  position: relative;
  width: 48%;
  background: #09153f;
  margin-left: 5px;
  margin-top: 1rem;
  padding: 0.5rem 0;
}
.home .ItemBox.home .block.otherLink ul li::before {
  position: absolute;
  left: 1.8rem;
}
.home .ItemBox.home .block.otherLink ul li a {
  display: block;
  width: 100%;
}
.home .ItemBox.home .block.otherLink ul li span {
  display: inline-block;
  width: 100%;
  color: #FFF;
  text-align: center;
}
.home .ItemBox.home .block.otherLink ul li:nth-child(1)::before {
  content: url(../img/home/otherLink01.png);
}
.home .ItemBox.home .block.otherLink ul li:nth-child(2)::before {
  content: url(../img/home/otherLink02.png);
}
.home .ItemBox.home .block.otherLink ul li:nth-child(3)::before {
  content: url(../img/home/otherLink03.png);
}
.home .ItemBox.home .block.otherLink ul li:nth-child(4)::before {
  content: url(../img/home/otherLink04.png);
}
.home .ItemBox.home .block.otherLink ul li:nth-child(5)::before {
  content: url(../img/home/otherLink05.png);
}
.home .ItemBox.home .block.otherLink ul li:nth-child(6)::before {
  content: url(../img/home/otherLink06.png);
}
.home .ItemBox.home .itemTitle span.ringIcon {
  padding-left: 1rem;
}
.home .ItemBox.home .itemTitle span.ringIcon::before {
  position: absolute;
  left: 0.5rem;
  content: url("../img/home/ringIcon.png");
}
.home .ItemBox.home .itemTitle span.infoIcon::after {
  position: relative;
  top: 3px;
  left: 5px;
  content: url("../img/home/infoIcon.png");
}
.home .ItemBox.home .itemMsg .oldcustom {
  display: inline-block;
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}
.home .ItemBox.home .itemMsg .device img {
  margin-left: 1rem;
}
.home .ItemBox.home .itemMsg .device span {
  position: absolute;
  margin-left: 1rem;
  top: 3rem;
}
.home .ItemBox.home .banner {
  margin-top: 1rem;
}
.home .ItemBox.service .block.nodata {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.home .ItemBox.service .block.nodata span {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  color: #d5d9fe;
  font-weight: bold;
}
.home .ItemBox.service .serviceNav {
  background: #19254d;
  display: flex;
  justify-content: space-around;
}
.home .ItemBox.service .serviceNav li {
  width: 33%;
  color: #d5d9fe;
  padding: 1rem 0;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.home .ItemBox.service .serviceNav li.active {
  color: rgb(255, 94, 0);
}
.home .ItemBox.service .serviceNav li.active span {
  position: relative;
}
.home .ItemBox.service .serviceNav li.active span::after {
  content: "";
  position: absolute;
  top: 125%;
  display: inline-block;
  width: 90%;
  height: 2px;
  left: 5%;
  background: rgb(255, 94, 0);
}
.home .ItemBox.service .iconImg {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
.home .ItemBox.service .itemTitle.appIcon {
  font-size: 18px;
  padding-left: 3rem;
  position: relative;
}
.home .ItemBox.service .itemMsg {
  color: #FFF;
  padding-left: 1rem;
}
.home .ItemBox.service .itemPrice {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgb(255, 94, 0);
  font-weight: bold;
}
.home .ItemBox.service .serviceBanner {
  position: relative;
  top: -1px;
  width: 100%;
}
.home .ItemBox.discount .itemMsg span {
  font-size: 1.1rem;
  display: block;
  padding: 0 1rem;
}
.home .ItemBox.discount .itemMsg .banner {
  position: relative;
}
.home .ItemBox.discount .itemMsg .banner img {
  text-align: center;
  margin-left: 1rem;
}
.home .ItemBox.setting .userSetting {
  border: 1px solid #CCC;
  background: rgba(255, 255, 255, 0.062745098);
  border-radius: 7px;
  position: relative;
  min-height: 120px;
  color: #FFF;
}
.home .ItemBox.setting .userSetting .userName {
  display: block;
  padding-top: 0.5rem;
  margin-left: 1rem;
}
.home .ItemBox.setting .userSetting .userPhone {
  padding-left: 1rem;
  padding-top: 0.5rem;
  display: block;
}
.home .ItemBox.setting .userSetting .userType {
  position: absolute;
  bottom: 1rem;
  padding-left: 1rem;
}
.home .ItemBox.setting .settingIcon {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.home .ItemBox.setting .settingNav {
  margin-top: 1rem;
  background: #19254d;
  display: flex;
  justify-content: space-around;
}
.home .ItemBox.setting .settingNav li {
  width: 50%;
  color: #d5d9fe;
  padding: 1rem 0;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.home .ItemBox.setting .settingNav li.active {
  color: rgb(255, 94, 0);
}
.home .ItemBox.setting .settingNav li.active span {
  position: relative;
}
.home .ItemBox.setting .settingNav li.active span::after {
  content: "";
  position: absolute;
  top: 125%;
  display: inline-block;
  width: 90%;
  height: 2px;
  left: 5%;
  background: rgb(255, 94, 0);
}
.home .ItemBox.setting .itemMsg a {
  display: block;
}
.home .ItemBox.setting .settingList {
  padding-bottom: 1rem;
}
.home .ItemBox.setting .settingList li {
  cursor: pointer;
  background: #050b21;
  width: 90%;
  margin-left: 1rem;
  position: relative;
  padding: 0.5rem 0;
  border-radius: 3px;
  overflow: hidden;
}
.home .ItemBox.setting .settingList li span:nth-child(1) {
  padding-left: 3rem;
  display: block;
  position: relative;
  font-weight: bold;
  color: #d5d9fe;
  width: 100%;
}
.home .ItemBox.setting .settingList li span:nth-child(1)::after {
  content: url(../img/setting/list/arrow.png);
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-45%);
}
.home .ItemBox.setting .settingList li span.orgBtn2 {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 0.8rem;
}
.home .ItemBox.setting .settingList li img {
  left: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.home .ItemBox.setting .settingList li::after {
  background: #252b41;
  display: inline-block;
  content: "";
  width: 90%;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);
}
.home .ItemBox.setting .settingList li:last-child::after {
  display: none;
}
.home .ItemBox.setting .settingList li.Collectionlimit span:nth-child(1) {
  margin-top: 0.5rem;
  transform: translate(0, -25%);
  padding: 0.3rem 0 0rem 3rem;
}
.home .ItemBox.setting .settingList li.Collectionlimit img {
  top: 25%;
  transform: translate(0, -25%);
}
.home .ItemBox.setting .settingList li.Collectionlimit .limitVal {
  color: rgb(255, 94, 0);
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 2rem;
  padding: 1rem;
  background: #050b21;
}
.home .ItemBox.setting .settingList li.Collectionlimit .limitVal::after {
  content: url(../img/setting/list/arrow2.png);
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  transform: translateY(-25%);
}
.home .ItemBox.setting .settingList li.Collectionlimit .limitmsg {
  color: #FFF;
  padding-left: 1rem;
}
.home .ItemBox.setting .settingList .boolBox {
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
}
.home .ItemBox.setting .settingList .boolBox .bool, .home .ItemBox.setting .settingList .boolBox .txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  right: 0;
  width: 80px;
}
.home .ItemBox.setting .settingList .boolBox .txt {
  color: #FFF;
}
.home .ItemBox.setting .TelecomBilling {
  background: #050b21;
  display: flex;
  width: 90%;
  margin: auto;
}
.home .ItemBox.setting .TelecomBilling .circle {
  width: 25%;
  width: 80px;
  height: 80px;
  border: 6px solid rgb(255, 94, 0);
  margin-left: 1rem;
  border-radius: 50%;
}
.home .ItemBox.setting .TelecomBilling .cont {
  width: 75%;
  margin-left: 1rem;
  position: relative;
}
.home .ItemBox.setting .TelecomBilling .cont span {
  display: block;
}
.home .ItemBox.setting .TelecomBilling .cont span:nth-child(1) {
  margin-top: 0.5rem;
  color: #FFF;
  font-weight: bold;
}
.home .ItemBox.setting .TelecomBilling .cont span:nth-child(2) {
  color: rgb(255, 94, 0);
}
.home .ItemBox.setting .TelecomBilling .cont span:nth-child(3) {
  color: #d5d9fe;
}
.home .ItemBox.setting .TelecomBilling .cont .orgBtn2 {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 0.8rem;
}

.noticeBox {
  position: fixed;
  z-index: 20;
  width: 390px;
  height: 800px;
  top: 95px;
  background: rgba(0, 0, 0, 0.5960784314);
}
.noticeBox .noticeTxt span.orgtxt {
  cursor: pointer;
  display: inline-block;
  width: 70px;
  padding: 0.2rem;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: 2rem;
  bottom: 3.2rem;
  color: rgb(255, 94, 0);
}
.noticeBox .whiteblock {
  width: 90%;
  margin: 0 5%;
  background: #FFF;
  position: absolute;
  min-height: 7rem;
  top: 40%;
  transform: translate(0, -50%);
}
.noticeBox .whiteblock .msg {
  display: inline-block;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.noticeBox .whiteblock .btn {
  display: inline-block;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  color: rgb(255, 94, 0);
}
.noticeBox .whiteblock .btn.cancel {
  right: 4rem;
}
.noticeBox .whiteblock h1 {
  font-weight: normal;
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.detailContainer {
  position: relative;
}

.detailHeader {
  position: fixed;
  top: 95px;
  width: 390px;
  height: 50px;
  z-index: 10;
}
.detailHeader #backBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.detailHeader h2 {
  padding-top: 0.8rem;
  font-size: 17px;
  text-align: center;
  color: #FFF;
}
.detailHeader .rigntBtn {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0.7rem;
}
.detailHeader .rigntBtn span {
  color: #FFF;
}
.detailHeader .LeftBtn {
  cursor: pointer;
  position: absolute;
  left: 1rem;
  top: 0.7rem;
}
.detailHeader .LeftBtn span {
  color: #FFF;
}

.detailCont .ItemBox .block, .detailCont .ItemBox .whiteblock {
  background: #09153f;
  margin-top: 1rem;
  border-radius: 10px;
  position: relative;
}
.detailCont .ItemBox .block:last-child, .detailCont .ItemBox .whiteblock:last-child {
  padding-bottom: 4rem;
  background: transparent;
}
.detailCont .ItemBox .block .itemMsg, .detailCont .ItemBox .whiteblock .itemMsg {
  padding-bottom: 1rem;
}
.detailCont .ItemBox .block .itemMsg a, .detailCont .ItemBox .block .itemMsg span, .detailCont .ItemBox .whiteblock .itemMsg a, .detailCont .ItemBox .whiteblock .itemMsg span {
  color: #FFF;
  text-decoration: none;
}
.detailCont .ItemBox .block .itemTitle, .detailCont .ItemBox .whiteblock .itemTitle {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  color: #c1c2e9;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.detailCont .ItemBox .block .itemTitle .callPayDate, .detailCont .ItemBox .whiteblock .itemTitle .callPayDate {
  position: absolute;
  right: 1rem;
  color: #FFF;
}
.detailCont .ItemBox .block .itemTitle.topBorder::before, .detailCont .ItemBox .whiteblock .itemTitle.topBorder::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 90%;
  height: 2px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #3d4971;
}
.detailCont .ItemBox .block .itemTitle .infoIcon::after, .detailCont .ItemBox .whiteblock .itemTitle .infoIcon::after {
  position: relative;
  top: 3px;
  left: 5px;
  content: url("../img/home/infoIcon.png");
}
.detailCont .ItemBox .block .detailList, .detailCont .ItemBox .whiteblock .detailList {
  padding-bottom: 1rem;
}
.detailCont .ItemBox .block .detailList li, .detailCont .ItemBox .whiteblock .detailList li {
  cursor: pointer;
  background: #050b21;
  width: 90%;
  margin-left: 1rem;
  position: relative;
  padding: 0.5rem 0;
  border-radius: 3px;
  overflow: hidden;
}
.detailCont .ItemBox .block .detailList li .msg, .detailCont .ItemBox .whiteblock .detailList li .msg {
  padding-left: 3rem;
  display: block;
  position: relative;
  font-weight: bold;
  color: #d5d9fe;
  width: 100%;
}
.detailCont .ItemBox .block .detailList li .msg::after, .detailCont .ItemBox .whiteblock .detailList li .msg::after {
  content: url(../img/setting/list/arrow.png);
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-45%);
}
.detailCont .ItemBox .block .detailList li .msgImg, .detailCont .ItemBox .whiteblock .detailList li .msgImg {
  left: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.detailCont .ItemBox .block .detailList li::after, .detailCont .ItemBox .whiteblock .detailList li::after {
  background: #252b41;
  display: inline-block;
  content: "";
  width: 90%;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);
}
.detailCont .ItemBox .block .detailList li:last-child::after, .detailCont .ItemBox .whiteblock .detailList li:last-child::after {
  display: none;
}
.detailCont .ItemBox .whiteblock {
  background: #FFF;
  margin: 0.5rem;
}
.detailCont .ItemBox .whiteblock .generalList li {
  position: relative;
  color: #000;
  padding: 0.5rem 0;
}
.detailCont .ItemBox .whiteblock .generalList li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #EEE;
}
.detailCont .ItemBox .whiteblock .generalList li span:nth-child(1) {
  padding-left: 1rem;
  font-weight: bold;
}
.detailCont .ItemBox .whiteblock .generalList li span:nth-child(2) {
  position: absolute;
  right: 1rem;
}
.detailCont .ItemBox .itemfooter.remindMsg {
  display: block;
  text-align: center;
  padding: 1rem;
  color: #AAA;
}
.detailCont .ItemBox .itemfooter.remindBtn {
  color: #AAA;
  cursor: pointer;
  display: inline-block;
  width: 120px;
  height: 30px;
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
}
.detailCont .ItemBox .itemfooter.remindBtn::after {
  content: url(../img/bill/info.png);
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -0.5rem;
  transform: scale(0.9);
  right: 0.5rem;
}
.detailCont .mailnav {
  background: #FFF;
  display: flex;
}
.detailCont .mailnav li {
  text-align: center;
  width: 50%;
  padding: 0.5rem 0;
  color: #c1c1c1;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.detailCont .mailnav li.active {
  color: rgb(255, 94, 0);
  position: relative;
}
.detailCont .mailnav li.active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(255, 94, 0);
  right: 1rem;
  top: 0.5rem;
}
.detailCont .mailnav li.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  background: rgb(255, 94, 0);
}
.detailCont .billResult {
  position: relative;
}
.detailCont .billResult.thisMonth .generalList li {
  width: calc(100% - 2rem);
  margin: auto;
}
.detailCont .billResult.thisMonth .generalList li::after {
  content: "";
  left: 1rem;
  width: calc(100% - 1rem);
  background: #f1f1f1;
}
.detailCont .billResult.thisMonth .generalList li span:nth-child(2) {
  right: 0;
}
.detailCont .billResult.nearly .navBar {
  display: flex;
}
.detailCont .billResult.nearly .navBar li {
  cursor: pointer;
  width: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5rem 0;
  color: #DDD;
  position: relative;
}
.detailCont .billResult.nearly .navBar li::after {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background: #DDD;
}
.detailCont .billResult.nearly .navBar li.active {
  color: rgb(255, 94, 0);
}
.detailCont .billResult.nearly .navBar li.active::after {
  background: rgb(255, 94, 0);
}
.detailCont .billResult.nearly .nearlyBillData .dataItem, .detailCont .billResult.nearly .payRecordData .dataItem {
  position: relative;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .itemDate, .detailCont .billResult.nearly .payRecordData .dataItem .itemDate {
  position: relative;
  display: block;
  cursor: pointer;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .itemDate:nth-child(1), .detailCont .billResult.nearly .payRecordData .dataItem .itemDate:nth-child(1) {
  font-weight: bold;
  padding: 0.7rem 0;
  padding-left: 1rem;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .itemDate i.icon, .detailCont .billResult.nearly .payRecordData .dataItem .itemDate i.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .itemDate i.icon::after, .detailCont .billResult.nearly .payRecordData .dataItem .itemDate i.icon::after {
  display: inline-block;
  content: url(../img/bill/arrow.png);
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .itemDate i.icon.open::after, .detailCont .billResult.nearly .payRecordData .dataItem .itemDate i.icon.open::after {
  transform: rotate(180deg);
}
.detailCont .billResult.nearly .nearlyBillData .dataItem::after, .detailCont .billResult.nearly .payRecordData .dataItem::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DDD;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem:last-child::after, .detailCont .billResult.nearly .payRecordData .dataItem:last-child::after {
  display: none;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .orgmark, .detailCont .billResult.nearly .payRecordData .dataItem .orgmark {
  color: rgb(255, 94, 0);
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .orgmark p, .detailCont .billResult.nearly .payRecordData .dataItem .orgmark p {
  padding: 0 1rem;
  margin-top: 2rem;
  font-weight: bold;
  text-shadow: 0 0 0 rgb(255, 94, 0);
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .payDetails .row, .detailCont .billResult.nearly .payRecordData .dataItem .payDetails .row {
  padding: 1rem 1rem 0;
  position: relative;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .payDetails .row span:nth-child(2), .detailCont .billResult.nearly .payRecordData .dataItem .payDetails .row span:nth-child(2) {
  position: absolute;
  right: 1rem;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .payDetails .payItem .payTitle, .detailCont .billResult.nearly .payRecordData .dataItem .payDetails .payItem .payTitle {
  padding-left: 1rem;
  margin-top: 0.5rem;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .payDetails .payItem .payMsg, .detailCont .billResult.nearly .payRecordData .dataItem .payDetails .payItem .payMsg {
  position: relative;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .payDetails .payItem .payMsg span, .detailCont .billResult.nearly .payRecordData .dataItem .payDetails .payItem .payMsg span {
  font-size: 0.8rem;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .payDetails .payItem .payMsg span:nth-child(1), .detailCont .billResult.nearly .payRecordData .dataItem .payDetails .payItem .payMsg span:nth-child(1) {
  padding-left: 1.5rem;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .payDetails .payItem .payMsg span:nth-child(2), .detailCont .billResult.nearly .payRecordData .dataItem .payDetails .payItem .payMsg span:nth-child(2) {
  position: absolute;
  right: 1rem;
  padding-bottom: 0.5rem;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .phoneDetail, .detailCont .billResult.nearly .nearlyBillData .dataItem .micropayDetail, .detailCont .billResult.nearly .payRecordData .dataItem .phoneDetail, .detailCont .billResult.nearly .payRecordData .dataItem .micropayDetail {
  padding-top: 0.5rem;
  border-top: 2px solid #DDD;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .phoneDetail span, .detailCont .billResult.nearly .nearlyBillData .dataItem .micropayDetail span, .detailCont .billResult.nearly .payRecordData .dataItem .phoneDetail span, .detailCont .billResult.nearly .payRecordData .dataItem .micropayDetail span {
  font-weight: bold;
  display: block;
  color: rgb(255, 94, 0);
  text-shadow: 0 0 0 rgb(255, 94, 0);
  text-align: center;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .phoneDetail span:last-child, .detailCont .billResult.nearly .nearlyBillData .dataItem .micropayDetail span:last-child, .detailCont .billResult.nearly .payRecordData .dataItem .phoneDetail span:last-child, .detailCont .billResult.nearly .payRecordData .dataItem .micropayDetail span:last-child {
  padding-bottom: 0.3rem;
}
.detailCont .billResult.nearly .nearlyBillData .dataItem .phoneDetail .download, .detailCont .billResult.nearly .nearlyBillData .dataItem .micropayDetail .download, .detailCont .billResult.nearly .payRecordData .dataItem .phoneDetail .download, .detailCont .billResult.nearly .payRecordData .dataItem .micropayDetail .download {
  cursor: pointer;
}
.detailCont .billResult .payIcon {
  display: flex;
  border-top: 2px solid #EEE;
  justify-content: center;
  position: relative;
  height: 100px;
}
.detailCont .billResult .payIcon .item {
  width: 33%;
  position: relative;
}
.detailCont .billResult .payIcon .item img {
  position: absolute;
  margin-top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.detailCont .billResult .payIcon .item span {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0.3rem;
  text-align: center;
  font-size: 0.9rem;
  color: #AAA;
}
.detailCont .billResult .payIcon .item::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 70px;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  background: #EEE;
}
.detailCont .billResult .payIcon .item:last-child::after {
  display: none;
}
.detailCont .serviceDetailBox {
  border: 1px solid transparent;
  position: relative;
}
.detailCont .serviceDetailBox .banner {
  position: absolute;
  top: -4rem;
}
.detailCont .serviceDetailBox .applyBox {
  background: #09153f;
}
.detailCont .serviceDetailBox .applyBox .applyTitle {
  padding-left: 1rem;
  padding-top: 1.5rem;
  font-weight: bold;
  color: #d5d9fe;
}
.detailCont .serviceDetailBox .applyBox .applyCont .card {
  width: 90%;
  background: #050b21;
  margin: auto;
  margin-top: 1rem;
  position: relative;
}
.detailCont .serviceDetailBox .applyBox .applyCont .card input {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.detailCont .serviceDetailBox .applyBox .applyCont .card .cardTitle {
  position: absolute;
  top: 1.5rem;
  left: 3.5rem;
  color: #d5d9fe;
}
.detailCont .serviceDetailBox .applyBox .applyCont .card .promotion {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgb(255, 94, 0);
  font-weight: bold;
}
.detailCont .serviceDetailBox .applyBox .applyCont .card .price {
  display: inline-block;
  padding-left: 3rem;
  padding-top: 3.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(255, 94, 0);
}
.detailCont .serviceDetailBox .applyBox .applyCont .card .msg {
  margin-top: 0.5rem;
  margin-left: 3.5rem;
}
.detailCont .serviceDetailBox .applyBox .applyCont .card .msg li {
  padding-top: 0.3rem;
  color: #FFF;
}
.detailCont .serviceDetailBox .applyBox .applyCont .card .msg li:last-child {
  padding-bottom: 0.5rem;
}
.detailCont .nextflow {
  position: fixed;
  width: 390px;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-45%);
  z-index: 10;
}
.detailCont .nextflow .orgBtn {
  width: 90%;
  font-weight: bold;
  text-align: center;
}

.addressBox .AddressItem {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #CCC;
}
.addressBox .AddressItem:last-child {
  border: none;
}
.addressBox .AddressItem span:first-child {
  padding: 0.5rem;
  width: 15rem;
}
.addressBox .AddressItem .cont {
  width: 100%;
  padding-top: 0.5rem;
  margin-right: 0.5rem;
}
.addressBox .AddressItem .inputStyle {
  cursor: pointer;
  background: #FFF;
  border: 1px solid #CCC;
  position: relative;
}
.addressBox .AddressItem .inputStyle.cont {
  color: #777;
}
.addressBox .AddressItem .inputStyle::after {
  position: absolute;
  right: 1rem;
  content: url(../img/setting/arrow.png);
}
.addressBox .AddressItem .inputStyle:active {
  background-color: #AAA;
}
.addressBox .AddressItem .detail_address {
  position: relative;
}
.addressBox .AddressItem .detail_address textarea {
  height: 38px;
  position: absolute;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  width: 100%;
  resize: none;
  padding: 5px 0 7px;
  padding-left: 0.5rem;
  border: 1px solid #CCC;
}
.addressBox .AddressItem .detail_address textarea::-webkit-scrollbar {
  display: none;
}
.addressBox .AddressItem .detail_address textarea:focus {
  outline: none;
}

.summitBtn {
  width: 260px;
  padding: 0.7rem;
  background: rgb(255, 94, 0);
  margin: auto;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  color: #FFF;
  margin-top: 0.5rem;
}
.summitBtn span {
  color: #FFF;
}

.memberSettingBox {
  position: relative;
}
.memberSettingBox .title {
  padding-left: 1rem;
  margin: 0.5rem 0;
}
.memberSettingBox .title.first {
  margin-top: 0;
}
.memberSettingBox ul {
  background: #FFF;
}
.memberSettingBox ul li {
  position: relative;
  padding: 0.7rem 0;
}
.memberSettingBox ul li::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  background: #EEE;
}
.memberSettingBox ul .itemTitle {
  padding-left: 1rem;
}
.memberSettingBox ul .itemTxt {
  position: absolute;
  right: 1rem;
  color: #999;
}
.memberSettingBox ul .hasEdit {
  position: absolute;
  right: 3.5rem;
}
.memberSettingBox ul .blueTxt {
  color: #5f8eb8;
  right: 3rem;
  cursor: pointer;
}
.memberSettingBox ul span .edit::after {
  content: url(../img/setting/edit.png);
  display: inline-block;
  position: absolute;
  top: -0.35rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
.memberSettingBox ul span.orgBool {
  position: absolute;
  right: 0.5rem;
}
.memberSettingBox ul span.orgBool::after {
  content: url(../img/setting/whitebool.png);
}
.memberSettingBox ul span.orgBool.active::after {
  content: url(../img/setting/whitebool_act.png);
}
.memberSettingBox .nickname {
  width: 100%;
  padding: 0.7rem 0;
  padding-left: 0.5rem;
  border: none;
  font-size: 1rem;
  color: rgb(255, 94, 0);
  -webkit-text-fill-color: #000;
}
.memberSettingBox .nickname:focus {
  outline: none;
}
.memberSettingBox .nickname::-webkit-input-placeholder {
  text-shadow: none;
  -webkit-text-fill-color: #AAA;
  font-size: 0.9rem;
}
.memberSettingBox .alert {
  color: rgb(255, 94, 0);
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.memberSettingBox .logoutBtn {
  display: block;
  text-align: center;
  width: 240px;
  margin-top: 1rem;
  margin: auto;
  top: 2rem;
  position: relative;
}
.memberSettingBox .logoutBtn span {
  color: rgb(255, 94, 0);
  border: 1px solid rgb(255, 94, 0);
  border-radius: 20px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.7rem 0;
}/*# sourceMappingURL=main.css.map */