*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Microsoft JhengHei;
}
$mainOrg:  rgb(255, 94, 0);
$darkBg: #09153f;
$blockTxt: #d5d9fe;
$listColor: #050b21;
body{
    height: 100vh;
    overflow: hidden;
}
#payload{
    height: 100vh;
    margin-left: 150px;
    background: #999;
    position: relative;
    z-index: 999;
    span{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #FFF;
        font-weight: bold;
        font-size: 30px;
    }
    .LeftBlock{
        position: fixed;
        left: 0;
        top: 67px;
        width: 150px;
        height: 70vh;
        background: #CCC;
    }
}
.leftNav{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    // border: 1px solid #F00;
    height: 100vh;
    .quickLink{
        width: 100%;
        padding: 1rem 0;
        background: #CCC;
        .firstTitle{
            display: inline-block;
            padding-left: 1.5rem;
            padding-bottom: 1rem;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                display: block;
                width: 150px;
                left: 0;
                top: 100%;
                height: 2px;
                background: #FFF;
            }
        }
        .LinkBox{

            li{
                cursor: pointer;
                margin-top: 0.5rem;
                padding-left: 1rem;                
                &.quickLinkTitle{
                    font-size: 20px;
                    font-weight: bold;
                }
                &.active{
                    color: #F00;
                    font-weight: bold;
                }
                &:nth-child(1){
                    cursor: default;
                }
            }

        }
    }
    .AppIcon{
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
        bottom: 3rem;
    }
    .updateTxt{
        position: absolute;
        bottom: 1rem;
        display: inline-block;
        width: 100%;
        text-align: center;
        .updateMsg{
            text-align: center;
        }
    }
}
.orgBtn,.whiteBtn{
    cursor: pointer;
    width: 200px;
    padding: 0.5rem;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #FFF;
    }
    &.center{
        width: 270px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        text-align: center;
    }
    &.mt-3{
        margin-top: 1.5rem;
    }

}
.orgBtn2{
    padding: 0.2rem 0.4rem;
    border-radius: 15px;
    color: #FFF;
    a{
        text-decoration: none;
        color: #FFF;
    }
}
.orgBtn,.orgBtn2{
    background: $mainOrg
}
.whiteBtn{
    background: white;
}
.orgBool{
    position: absolute;
    cursor: pointer;
    right: 0.5rem;
    &::after{
        content: url(../img/setting/whitebool.png);
    }
    &.active{
        &::after{
            content: url(../img/setting/whitebool_act.png);
        }
    }
} 
.orgtxt{
    color: $mainOrg;           
}
.txt-sm{
    font-size: 0.9rem;
}
.pl-2{
    padding-left: 0.5rem;
}
.whitetxt{
    color: #FFF;
}
.container{
    margin: auto;
    width: 450px;
    height: 900px;
    // border: 1px solid #F00;
    margin-top: 2rem;
    background-image: url('../img/phoneFrame.png');
    background-size: contain;
    overflow: hidden;
}
.content{
    background-repeat: no-repeat;
    background-size: cover;

    // display: none;
    width: 390px;
    margin: auto;
    height: 790px;
    margin-top: 65px;
    // border: 1px solid #F00;
    // background: green;
    // overflow: hidden;
    overflow-y: scroll;
    position: relative;
    &::-webkit-scrollbar{
        display: none;
    }
    padding-top: 4rem;
    // background: #DDD;
    .titleMsg{
        p{
            padding-left: 1rem;
            padding-top: 3rem;
            padding-bottom: 2rem;
            margin-top: 2rem;
            color: #000;
    
        }
    }


}


.topBar{
    // display: none;
    width: 390px;
    height: 40px;
    background: #777;
    position: absolute;
    z-index: -1;
    top: calc(2rem + 27px);
    left: 50%;
    transform: translateX(-50%);
}
.footer{
    position: relative;
    z-index: 2;
    top: -45px;
    height: 18px;
    width: 375px;
    margin: auto;
    background: #000;
    
    span{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: #FFF;
        width: 100px;
        height: 3px;
        

    }

}
.navbar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 840px;
    width: 390px;
    height: 50px;
    // border: 1px solid #F00;
    background: #252020a2;
    z-index: 3;
    ul{
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        top: -10px;

        li{
            // display: none;
            width: 25%;
            height: 50px;
            text-align: center;
            color: #FFF;
            // border: 1px solid #FFF;
        }
    }
}
// 登入帳號前
.Login{
    .BtnBox{
        // border: 1px solid #F00;
        position: absolute;
        bottom: 4rem;
        text-align: center;
        button{
            // display: none;
            margin-top: 0.5rem;
            &.whiteBtn{
                // display: inline-block;
                cursor: pointer;
                transform: translateY(-180px) scale(1.5);
                margin-left: 45%;
                text-align: center;
                color: $mainOrg;
                font-weight: bold;
            }
        }
    }
}
// 首頁
.home{
    .header{
        // border: 1px solid #F00;
        position: absolute;
        top: 0;
        width: 100%;
        .title{
            padding-top: 1rem;
            padding-left: 1rem;
            p{
                padding: 0;
                margin: 0;
                color: #FFF;
                font-weight: normal;
            }
        }
        .mailIcon{
            cursor: pointer;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }
    .ItemBox{
        .block{
            background: $darkBg;
            margin-top: 1rem;
            border-radius: 10px;
            position: relative;
            &:last-child{
                padding-bottom: 4rem;
                background: transparent;
            }
            .itemMsg{
                padding-bottom: 1rem;
                a,span{
                    color: #FFF;
                    text-decoration: none;
                }
                .calldata{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    padding-bottom: 1rem;
                    li{
                        width: 45%;
                        margin-top: 1rem;
                        height: 120px;
                        background: #000;
                        position: relative;
                        a{
                                width: 60px;
                                text-align: center;
                                position: absolute;
                                right: 1rem;
                                top: 1rem;
                                background: $mainOrg;
                                border-radius: 30px;
                        }
                        span{
                            display: block;
                            padding-left: 1rem;
                            &:nth-child(1){
                                padding-top: 1rem;
                                padding-bottom: 0.5rem;
                            }
                            &:nth-child(2){
                                font-size: 23px;
                                font-weight: bold;
                                color: $mainOrg;
                            }
                            &:nth-child(3){
                                color: #a4a8c4;
                            }
                        }
                    }
                    .btn{
                        cursor: pointer;
                        margin-top: 1rem;
                        
                    }

                }    
                         
                .plan{
                    padding-left: 1rem;
                }  
                .bill{
                    padding-left: 2rem;
                    font-size: 22px;
                    font-weight: bold;
                    position: relative;
                    span{
                        &:nth-child(2){
                            position: absolute;
                            right: 2rem;
                        }
                    }
                    .needPay{
       
                        span{
                            &:nth-child(1){
                                color: $mainOrg;
                            }
                        }
                    }
                    .payBox{
                        display: flex;
                        margin-top: 1rem;
                        .payItem{
                            width: 30%;
                            margin-left: 1%;
                            height: 120px;
                            background: #030314;
                            position: relative;
                            cursor: pointer;
                            img{
                                position: absolute;
                                left: 50%;
                                top: 10%;
                                transform: translateX(-50%);
                            }
                            span{
                                &:nth-child(2){
                                    position: absolute;
                                    text-align: center;
                                    width: 100%;
                                    left: 50%;
                                    bottom: 1rem;
                                    transform: translateX(-50%);
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }                              
            }
            .itemTitle{
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 0.5rem;
                color: #c1c2e9;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                .callPayDate{
                    position: absolute;
                    right: 1rem;
                    color: #FFF;
                }      
                &.topBorder{
                    &::before{
                        content: '';
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        width: 90%;
                        height: 2px;
                        left: 50%;
                        transform: translate(-50%,0);
                        background: #3d4971;
                    }
                }                             
            }

            .see{
                position: absolute;
                right: 2rem;
                top: 1rem;
            }
        }
    }
    .ItemBox{
        &.home{
            .block{
                &.otherLink{
                    background: transparent;
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        li{
                            position: relative;
                            width: 48%;
                            background: $darkBg;
                            margin-left: 5px;
                            margin-top: 1rem;
                            padding: 0.5rem 0;
                            &::before{
                                position: absolute;
                                left: 1.8rem;
                            }
                            a{
                                display: block;
                                width: 100%;
                            }
                            span{
                                display: inline-block;
                                width: 100%;
                                color: #FFF;
                                text-align: center;
                            }
                            &:nth-child(1){
                                &::before{
                                    content: url(../img/home/otherLink01.png);
                                }
                            }
                            &:nth-child(2){
                                &::before{
                                    content: url(../img/home/otherLink02.png);
                                }
                            }
                            &:nth-child(3){
                                &::before{
                                    content: url(../img/home/otherLink03.png);
                                }
                            }
                            &:nth-child(4){
                                &::before{
                                    content: url(../img/home/otherLink04.png);
                                }
                            }
                            &:nth-child(5){
                                &::before{
                                    content: url(../img/home/otherLink05.png);
                                }
                            }
                            &:nth-child(6){
                                &::before{
                                    content: url(../img/home/otherLink06.png);
                                }
                            }
                        }
                    }
                }
            }
            .itemTitle{
                span{
                    &.ringIcon{
                        padding-left: 1rem;
                        &::before{
                            position: absolute;
                            left: 0.5rem;
                            content: url('../img/home/ringIcon.png');
                        }
                    }
                    &.infoIcon{
                        &::after{
                            position: relative;
                            top: 3px;
                            left: 5px;
                            content: url('../img/home/infoIcon.png');
                        }
                    }
                }
            }
            .itemMsg{
                .oldcustom{
                    display: inline-block;
                    width: 100%;
                    padding: 0 1rem;
                    padding-bottom: 0.5rem;
                }
                .device{
                    img{
                        margin-left: 1rem;
                    }
                    span{
                        position: absolute;
                        margin-left: 1rem;
                        top: 3rem;
                        // border: 1px solid #FFF;
                    }
                }
            }
            .banner{
                margin-top: 1rem;
            }
        }
        &.service{
            .block{
                &.nodata{
                    background: transparent;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);

                    span{
                        margin-top: 1rem;
                        display: block;
                        width: 100%;
                        text-align: center;
                        color: #d5d9fe;
                        font-weight: bold;
                    }
                }
            }
            
            .serviceNav{
                background: #19254d;
                display: flex;
                justify-content: space-around;
                li{
                    width: 33%;
                    color: #d5d9fe;
                    padding: 1rem 0;
                    text-align: center;
                    cursor: pointer;
                    position: relative;

                    &.active{
                        color: $mainOrg;
                        span{
                            // border: 1px solid #F00;
                            position: relative;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 125%;
    
                                display: inline-block;
                                width: 90%;
                                height: 2px;
                                left: 5%;
                                background: $mainOrg;
                            }                        

                        }
                    }
                }
            }
            .iconImg{
                position: absolute;
                top: 0.5rem;
                left: 1rem;
            }
            .itemTitle{

                &.appIcon{
                    font-size: 18px;
                    padding-left: 3rem;
                    position: relative;
                }
            }
            .itemMsg{
                color: #FFF;
                padding-left: 1rem;
            }
            .itemPrice{
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: $mainOrg;
                font-weight: bold;
            }
            .serviceBanner{
                position: relative;
                top: -1px;
                // border: 1px solid #F00;
                width: 100%;
            }

        }
        &.discount{
            .itemMsg{
                span{
                    font-size: 1.1rem;
                    display: block;
                    padding: 0 1rem;
                }
                .banner{
                    position: relative;
                    // border: 1px solid #F00;
                    img{
                        text-align: center;
                        margin-left: 1rem;
                        // position: absolute;
                        // left: 50%;
                        // transform: translate(-50%);
                    }
                }
            }
        }
        &.setting{
            .userSetting{
                border: 1px solid #CCC;
                background: #ffffff10;
                border-radius: 7px;
                position: relative;
                min-height: 120px;
                color: #FFF;
                .userName{
                    display: block;
                    padding-top: 0.5rem;
                    margin-left: 1rem;
                }
                .userPhone{
                    padding-left: 1rem;
                    padding-top: 0.5rem;
                    display: block;
                }
                .userType{
                    position: absolute;
                    bottom: 1rem;
                    padding-left: 1rem;
                }

            }
            .settingIcon{
                cursor: pointer;
                position: absolute;
                right: 1rem;
                top: 1rem;
            }
            .settingNav{
                margin-top: 1rem;
                background: #19254d;
                display: flex;
                justify-content: space-around;
                li{
                    width: 50%;
                    color: #d5d9fe;
                    padding: 1rem 0;
                    text-align: center;
                    cursor: pointer;
                    position: relative;

                    &.active{
                        color: $mainOrg;
                        span{
                            // border: 1px solid #F00;
                            position: relative;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 125%;
    
                                display: inline-block;
                                width: 90%;
                                height: 2px;
                                left: 5%;
                                background: $mainOrg;
                            }                        

                        }
                    }
                }
            }   
            .itemMsg{
                a{
                    display: block;
                }
            }
            .settingList{
                padding-bottom: 1rem;
                li{
                    cursor: pointer;
                    background: $listColor;
                    width: 90%;
                    margin-left: 1rem;
                    position: relative;
                    padding: 0.5rem 0;
                    border-radius: 3px;
                    // border: 1px solid #F00;
                    overflow: hidden;
                    span{
                        &:nth-child(1){
                            padding-left: 3rem;
                            display: block;
                            position: relative;
                            font-weight: bold;
                            color: $blockTxt;
                            width: 100%;
                            &::after{
                                content: url(../img/setting/list/arrow.png);
                                position: absolute;
                                right: 0.5rem;
                                top: 50%;
                                transform: translateY(-45%);
    
                            }
                        }
                        &.orgBtn2{
                            position: absolute;
                            top: 50%;
                            right: 1rem;
                            transform: translateY(-50%);
                            font-size: 0.8rem;
                        }
                    }
                    img{
                        left: 1rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);                        
                    }
                    &::after{
                        background: #252b41;
                        // background: #FFF;
                        display: inline-block;
                        content: '';
                        width: 90%;
                        height: 10px;
                        position: absolute;
                        left: 50%;
                        top: 95%;
                        transform: translateX(-50%);
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                    &.Collectionlimit{
                        span{
                            &:nth-child(1){
                                margin-top: 0.5rem;
                                transform: translate(0,-25%);
                                padding: 0.3rem 0 0rem 3rem;
                            }
                        }
                        img{
                            top: 25%;
                            transform: translate(0,-25%);
                        }
                        .limitVal{
                            // border: 1px solid #F00;
                            color: $mainOrg;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 100px;
                            height: 2rem;
                            padding: 1rem;
                            background: $listColor;
                            &::after{
                                content: url(../img/setting/list/arrow2.png);
                                display: inline-block;
                                position: absolute;
                                right: 0.5rem;
                                transform: translateY(-25%);
                            }
                        }
                        .limitmsg{
                            color: #FFF;
                            padding-left: 1rem;
                        }
                    }                    
                }


            }
            .TelecomBilling{
                background: $listColor;
                display: flex;
                width: 90%;
                margin: auto;
                .circle{
                    width: 25%;
                    width: 80px;
                    height: 80px;
                    border: 6px solid $mainOrg;
                    margin-left: 1rem;
                    border-radius: 50%;
                }
                .cont{
                    width: 75%;
                    margin-left: 1rem;
                    position: relative;
                    span{
                        display: block;
                        &:nth-child(1){
                            margin-top: 0.5rem;
                            color: #FFF;
                            font-weight: bold;
                        }
                        &:nth-child(2){
                            color: $mainOrg;
                        }
                        &:nth-child(3){
                            color: $blockTxt;
                        }
                    }
                    .orgBtn2{
                        position: absolute;
                        top: 0.5rem;
                        right: 1rem;
                        font-size: 0.8rem;
                    }
                }
            }


        }
    }
}
// serviceManagement
.serviceManagement{
    padding-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;    
    flex-wrap: wrap;
    li{
        background: $listColor;
        cursor: pointer;
        width: 90%;
        display: flex;
        align-items: center;
        color: #d5d9fe;
        padding: 0.5rem 0;
        position: relative; 
        padding-left: 1rem; 
        border-radius: 3px;   
        overflow: hidden;
    }
    p{
        position: absolute;
        right: 3rem;
    }
    .arrow{
        position: absolute;
        right: 0.5rem;
    }

    
                    
                    
                    
                   
                    
                    
}
// noticeBox
.noticeBox{
    position: fixed;
    z-index: 20;
    width: 390px;
    height: 800px;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    background: #00000098;
    .noticeTxt{
        span{
            &.orgtxt{

                cursor: pointer;
                display: inline-block;
                width: 70px;
                padding: 0.2rem;
                text-align: center;
                font-weight: bold;
                position: absolute;
                right: 2rem;
               
                color: $mainOrg;
            }
        }
    }
    .whiteblock{
        width: 90%;
        margin: 0 5%;
        background: #FFF;
        position: absolute;
        min-height: 7rem;
        top: 50%;
        transform: translate(0,-50%);
        max-height: 45rem;
        .msg{
            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 4rem;

        }
        .btn{
            display: inline-block;
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            cursor: pointer;
            color: $mainOrg;
            &.cancel{
                right: 4rem;
            }
        }
        h1{
            font-weight: normal;
            padding-left: 1rem;
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .noticeList{
            // border: 1px solid #F00;
            max-height: 45rem;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                // background: transparent;
                width: 4px;
            }
            &::-webkit-scrollbar-thumb{
                display: inline-block;
                // width: 2px;
                background: #AAA;
            }
            li{
                cursor: pointer;
                padding: 1rem;
                position: relative;
                &::after{
                    position: absolute;
                    right: 1rem;
                    content: url(../img/setting/list_null.png);
                }
                &.active{
                    &::after{
                        content: url(../img/setting/list_act.png);
                    }
       
                }
            }
        }
        
    }
}
// detailContainer
.detailContainer{
    position: relative;
}
.detailHeader{
    position: fixed;
    top: 95px;
    width: 390px;
    height: 50px;
    // border: 1px solid #F00;
    // background: #000;
    z-index: 10;
    display: flex;
    align-items: center;
    #backBtn{
        cursor: pointer;
        position: absolute;
        left: 1rem;
    }
    h2{
        font-size: 17px;
        text-align: center;
        color: #FFF;
        width: 100%;

    }
    .rigntBtn{
        cursor: pointer;
        position: absolute;
        right: 1rem;
        span{
            color:#FFF;
        }
    }
    .LeftBtn{
        cursor: pointer;
        position: absolute;
        span{
            color:#FFF;
        }        
    }
}
.block{
    &.null{
        position: relative;
        z-index: -1;
    }
}
.detailCont{
    .ItemBox{
        .block,.whiteblock{
            background: $darkBg;
            margin-top: 1rem;
            border-radius: 10px;
            position: relative;
            &:last-child{
                padding-bottom: 4rem;
                background: transparent;
            }
            .itemMsg{
                padding-bottom: 1rem;
                a,span{
                    color: #FFF;
                    text-decoration: none;
                }                            
            }
            .itemTitle{
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 0.5rem;
                color: #c1c2e9;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                .callPayDate{
                    position: absolute;
                    right: 1rem;
                    color: #FFF;
                }      
                &.topBorder{
                    &::before{
                        content: '';
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        width: 90%;
                        height: 2px;
                        left: 50%;
                        transform: translate(-50%,0);
                        background: #3d4971;
                    }
                } 
                .infoIcon{
                    &::after{
                        position: relative;
                        top: 3px;
                        left: 5px;
                        content: url('../img/home/infoIcon.png');
                    }
                }                                            
            }
            .detailList{
                padding-bottom: 1rem;
                li{
                    cursor: pointer;
                    background: $listColor;
                    width: 90%;
                    margin-left: 1rem;
                    position: relative;
                    padding: 0.5rem 0;
                    border-radius: 3px;
                    // border: 1px solid #F00;
                    overflow: hidden;
                    .msg{
                        padding-left: 3rem;
                        display: block;
                        position: relative;
                        font-weight: bold;
                        color: $blockTxt;
                        width: 100%;
                        &::after{
                            content: url(../img/setting/list/arrow.png);
                            position: absolute;
                            right: 0.5rem;
                            top: 50%;
                            transform: translateY(-45%);

                        }
                    }
                    .msgImg{
                        left: 1rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);                        
                    }
                    &::after{
                        background: #252b41;
                        // background: #FFF;
                        display: inline-block;
                        content: '';
                        width: 90%;
                        height: 10px;
                        position: absolute;
                        left: 50%;
                        top: 95%;
                        transform: translateX(-50%);
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }                  
                }
            }            
        }
        .whiteblock{
            background: #FFF;
            margin: 0.5rem;
            .generalList{
                li{
                    position: relative;
                    color: #000;
                    padding: 0.5rem 0;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 100%;
                        display: inline-block;
                        width: 100%;
                        height: 2px;
                        background: #EEE;
                    }
                    span{
                        &:nth-child(1){
                            padding-left: 1rem;
                            font-weight: bold;
                        }
                        &:nth-child(2){
                            position: absolute;
                            right: 1rem;
                        }
                    }
                }
            }
          
        }
        .itemfooter{
            &.remindMsg{
                display: block;
                text-align: center;
                padding: 1rem;
                color: #AAA;
            }
            &.remindBtn{
                color: #AAA;
                cursor: pointer;
                display: inline-block;
                width: 120px;
                height: 30px;
                text-align: center;
                font-size: 0.8rem;
                position: absolute;
                left: 50%;
                bottom: 3rem;
                transform: translateX(-50%);
                &::after{
                    content: url(../img/bill/info.png);
                    display: block;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: -0.5rem;
                    transform: scale(0.9);
                    right: 0.5rem;

                }
            }
        }

    }  
    // 訊息中心 - nav
    .mailnav{
        background: #FFF;
        display: flex;
        li{
            text-align: center;
            width: 50%;
            padding: 0.5rem 0;
            color: #c1c1c1;
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
            &.active{
                color: $mainOrg;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $mainOrg;
                    right: 1rem;
                    top: 0.5rem;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    top: 100%;
                    background: $mainOrg;
                }
            }

        }
    }
    // 多門號切換繳款與帳單明細
    .billResult{
        position: relative;
        // display: none;
        &.thisMonth{
            .generalList{
                li{
                    width: calc(100% - 2rem);
                    margin: auto;
                    &::after{
                        content: '';
                        left: 1rem;
                        width: calc(100% - 1rem);
                        background: #f1f1f1;
                    }                            
                    span{
                        &:nth-child(2){
                            right: 0;
                        }
                    }
                }
            }
        }
        &.nearly{
            .navBar{
                display: flex;
                li{
                    cursor: pointer;
                    width: 50%;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 0.5rem 0;
                    color: #DDD;
                    position: relative;
                    &::after{
                        position: absolute;
                        top: calc(100% - 2px);
                        left: 0;
                        width: 100%;
                        height: 2px;
                        content: '';
                        background: #DDD;
                    }
                    &.active{
                        color: $mainOrg;
                        &::after{
                            background: $mainOrg;
                        }                        
                    }
                }
            }
            .nearlyBillData,.payRecordData{
                .dataItem{
                    position: relative;
                    .itemDate{
                        position: relative;
                        display: block;
                        cursor: pointer;
                        &:nth-child(1){
                            font-weight: bold;
                            padding: 0.7rem 0;
                            padding-left: 1rem;
                        }
                        i{
                            &.icon{
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                position: absolute;
                                right: 1rem;
                                top: 50%;
                                transform: translateY(-50%);
                                &::after{
                                    display: inline-block;
                                    content: url(../img/bill/arrow.png);
        
                                }
                                &.open{
                                    &::after{
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }                        
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: #DDD;
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                    .orgmark{
                        color: $mainOrg;
                        p{
                            padding: 0 1rem;
                            margin-top: 2rem;
                            font-weight: bold;
                            text-shadow: 0 0 0 $mainOrg;
                        }
                    }
                    .payDetails{
                        .row{
                            padding: 1rem 1rem 0;
                            position: relative;
                            span{
                                &:nth-child(2){
                                    position: absolute;
                                    right: 1rem;
                                }
                            }
                        }
                        .payItem{
                            .payTitle{
                                padding-left: 1rem;
                                margin-top: 0.5rem;
                            }
                            .payMsg{
                                position: relative;
                                span{
                                    font-size: 0.8rem;
                                    &:nth-child(1){
                                        padding-left: 1.5rem;
                                    }
                                    &:nth-child(2){
                                        position: absolute;
                                        right: 1rem;
                                        padding-bottom: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                    .phoneDetail,.micropayDetail{
                        padding-top: 0.5rem;
                        border-top: 2px solid #DDD;
                        span{
                            font-weight: bold;
                            display: block;
                            color: $mainOrg;
                            text-shadow: 0 0 0 $mainOrg;
                            text-align: center;
                            &:last-child{
                                padding-bottom: 0.3rem;
                            }
                        }
                        .download{
                            cursor: pointer;
                        }

                    }
                }
            }
        }
        .payIcon{
            display: flex;
            border-top: 2px solid #EEE;
            justify-content: center;
            position: relative;
            height: 100px;
            .item{
                width: 33%;
                position: relative;
                cursor: pointer;
                img{
                    position: absolute;
                    margin-top: 0.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
                span{
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0.3rem;
                    text-align: center;
                    font-size: 0.9rem;
                    color: #AAA;
                }
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 70px;
                    right: 1%;
                    top: 50%;
                    transform: translateY(-50%);
                    background: #EEE;
                }
                &:last-child{
                    &::after{
                        display: none;
                    }   
                }
            }
        }
    }  
    // 加值服務申辦內容
    .serviceDetailBox{
        border: 1px solid transparent;
        position: relative;
        .banner{
            position: absolute;
            top: -4rem;
        }
        .applyNull{
            // margin-top: 16rem;
            // border: 1px solid #F00;
        }        
        .applyBox{
            background: $darkBg;
            // border: 1px solid #F00;

            .applyTitle{
                padding-left: 1rem;
                padding-top: 1.5rem;
                font-weight: bold;
                color: $blockTxt;

            }
            .applyCont{
                
                .card{
                    width: 90%;
                    background: $listColor;
                    margin: auto;
                    margin-top: 1rem;
                    position: relative;

                    input{
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                    }
                    .cardTitle{
                        position: absolute;
                        top: 1.5rem;
                        left: 3.5rem;
                        color: $blockTxt;
                    }
                    .promotion{
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        color: $mainOrg;
                        font-weight: bold;
                    }
                    .price{
                        display: inline-block;
                        padding-left: 3rem;
                        padding-top: 3.2rem;
                        font-weight: bold;
                        font-size: 1.2rem;
                        color: $mainOrg;
                    }
                    .msg{
                        margin-top: 0.5rem;
                        margin-left: 3.5rem;
                        li{
                            padding-top: 0.3rem;
                            color: #FFF;
                            &:last-child{
                                padding-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .nextflow{
        position: fixed;
        // border: 1px solid #F00;
        width: 390px;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-45%);
        z-index: 10;
        .orgBtn{
            width: 90%;
            font-weight: bold;
            text-align: center;
        }
    }


}
// 帳單類型
.billType{
    padding-left: 1rem;
    .inputstyle{
        cursor: pointer;
        margin-left: 1rem;
        width: 250px;
        display: inline-block;
        background: #FFF;
        position: relative;
        padding: 0.2rem 0;
    }
    span{
        padding-left: 1rem;
       
        color:#999;
       
        &::after{
            position: absolute;
            right: 1rem;
            content: url(../img/setting/arrow.png);
        }
    }
 }
 .billTypeMsg{
    padding:0 1rem;
    padding-bottom: 1.5rem;
    .mark{
        color: $mainOrg;
    }
 }
// 紙本地址
.addressBox{
    .AddressItem{
        display: flex;
        flex-wrap: nowrap;
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #CCC;
        &:last-child{
            border: none;
        }
        span{
            &:first-child{
                padding: 0.5rem ;
                width: 15rem;
                // border: 1px solid #F00;
            }
        }
        .cont{
            width: 100%;
            // border: 1px solid #F00;
            padding-top: 0.5rem;
            margin-right: 0.5rem;
        }
        .inputStyle{
            cursor: pointer;
            background: #FFF;
            border: 1px solid #CCC;
            position: relative;
            &.cont{
                color: #777;
            }
            &::after{
                position: absolute;
                right: 1rem;
                content: url(../img/setting/arrow.png);
            }
            &:active{
                background-color: #AAA;
            }
        }
        .detail_address{
            position: relative;
            textarea{
                height: 38px;
                position: absolute;
                font-size: 1.2rem;
                top: 0;
                left: 0;
                width: 100%;
                resize: none;
                padding: 5px 0 7px;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                border: 1px solid #CCC;
                // height: 100%;
                overflow: hidden;
                &::-webkit-scrollbar{
                    display: none;
                }
                &:focus{
                    outline: none;
                }

            }
        }

    }
  
}
.summitBtn{
    width: 260px;
    padding: 0.7rem;
    background: $mainOrg;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    color: #FFF;
    margin-top: 0.5rem;
    span{
        color:#FFF
    }
}  
// 會員資料設定
.memberSettingBox{
    // border: 1px solid #F00;
    // margin-top: 0.5rem;
    .ItemBox{
        display: none;
    }
    position: relative;
 .title{
    padding-left: 1rem;
    margin: 0.5rem 0;
    &.first{
        margin-top: 0;
    }
 }
 ul{
    background: #FFF;
    li{
        position: relative;
        padding: 0.7rem 0;
        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            width: 100%;
            height: 1px;
            background: #EEE;
        }
    }
    .itemTitle{
        padding-left: 1rem;
    }
    .itemTxt{
        position: absolute;
        right: 1rem;
        color: #999;
        // top: ;
        &.btn{
            text-align: right;
            cursor: pointer;
            width: 100px;
        }
    }
    .hasEdit{
        position: absolute;
        right: 3.5rem;
    }    
    .blueTxt{
        color: #5f8eb8;
        right: 3rem;
        cursor: pointer;
    }    
    span{
        .edit{
            &::after{
                content: url(../img/setting/edit.png);
                // position: relative;
                display: inline-block;
                // border: 1px solid #F00;
                position: absolute;
                top: -0.35rem;
                margin-left: 0.5rem;
                cursor: pointer;
            }

        }
        
    }
 }

 .nickname{
    width: 100%;
    padding: 0.7rem 0;
    padding-left: 0.5rem;
    border: none;
    font-size: 1rem;
    &:focus{
        outline: none;
    }
    &::-webkit-input-placeholder {
        text-shadow: none;
        -webkit-text-fill-color: #AAA;
        font-size: 0.9rem;
      }    
    color: $mainOrg;
    -webkit-text-fill-color: #000;    
}
.alert{
    color: $mainOrg;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}
 .logoutBtn{
    display: block;
    text-align: center;
    width: 240px;
    margin-top: 1rem;
    margin: auto;
    top: 2rem;
    position: relative;
    span{
        color: $mainOrg;
        border: 1px solid $mainOrg;
        border-radius: 20px;
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 0.7rem 0;
    }
 }

}

// 門號設定
.phoneSetttingList{
    li{
        position: relative;
        padding: 1rem 0;
        border-bottom: 1px solid #EEE;
        padding-left: 1rem;
        font-size: 1.1rem;
        &:last-child{
            border: none;
        }
        i{
            // display: none;

        }
    }
    label{
        display: flex;
        align-items: center;
        margin-left: 1rem;
        margin-top: 1rem;
        img{
            cursor: pointer;
        }
        span{
            font-size: 0.9rem;
            color: $mainOrg;
        }
    }
}
.phonechangeItem{
    p{
        margin-left: 1.5rem;
        margin-top: 0.2rem;
        font-size: 0.9rem;
    }
}

.detailvolteCont{
    position: relative;
    h2{
        font-size: 16px;
        margin-left: 1rem;
        font-weight: normal;
    }
    .userData{
        padding: 0 1rem;
        background: #FFF;
        li{
            height: 2.5rem;
            margin-top: 0.5rem;
            display: flex;
            align-items: center;
            position: relative;
        }
        .title{
            width: 4rem;
        }
        .val{
            margin-left: 2rem;
            color: #999;
        }
        img{
            position: absolute;
            right: 1rem;
        }
    }
    .cantUse{
        display: inline-block;
        width: 390px;
        padding: 1rem;
        color: $mainOrg;
    }
    .volteBtnBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .volteBtn{
        cursor: pointer;
        display: inline-block;
        width: 280px;
        border: 1px solid $mainOrg;
        color: $mainOrg;
        border-radius: 30px;
        text-align: center;
        padding: 0.5rem 0;
        margin-top: 2rem;
        
    }
}
.volteheader,.DCBheader{
    position: absolute;
    top: 100%;
    // border: 1px solid #FFF;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #0000008a;
    cursor: pointer;
    span{
        color: #FFF;
        margin-left: 1rem;
    }
    img{
        position: absolute;
        right: 1rem;
        transform: rotate(-90deg);
    }
}
.volteNavList,.DCBNavList{
    position: fixed;
    margin-top: 19.3rem;
    padding-left: 2rem;
    background: #0000008a;
    width: 390px;
    li{
        cursor: pointer;
        color: #FFF;
        padding: 1rem 0;
    }

}
.DCBNavList{
    margin-top: 22.6rem;
}