*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Microsoft JhengHei;
}
$mainOrg:  rgb(255, 94, 0);
$darkBg: #09153f;
$blockTxt: #d5d9fe;
$listColor: #050b21;

.version{
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    // border: 1px solid #F00;
    height: 100vh;
    .quickLink{
        width: 100%;
        padding-top: 2rem;
        background: #CCC;
        span{
            display: inline-block;
            padding-left: 1.5rem;
            font-size: 24px;
            font-weight: bold;
        }
        li{
            cursor: pointer;
            margin-top: 0.5rem;
            padding-left: 1rem;
            // background: #000;
        }
    }
    .AppIcon{
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
        bottom: 3rem;
    }
    .updateTxt{
        position: absolute;
        bottom: 1rem;
        display: inline-block;
        width: 100%;
        text-align: center;
        .updateMsg{
            text-align: center;
        }
    }
}
.orgBtn,.whiteBtn{
    width: 200px;
    padding: 0.5rem;
    border-radius: 20px;
    color: #FFF;
    a{
        text-decoration: none;
        color: #FFF;
    }

}
.orgBtn2{
    padding: 0.2rem 0.4rem;
    border-radius: 15px;
    color: #FFF;
    a{
        text-decoration: none;
        color: #FFF;
    }
}
.orgBtn,.orgBtn2{
    background: $mainOrg
}
.whiteBtn{
    background: white;
}

.container{
    margin: auto;
    width: 450px;
    height: 900px;
    // border: 1px solid #F00;
    margin-top: 2rem;
    background-image: url('../img/phoneFrame.png');
    background-size: contain;
    overflow: hidden;
}
.content{
    background-repeat: no-repeat;
    background-size: cover;

    // display: none;
    width: 390px;
    margin: auto;
    height: 790px;
    margin-top: 65px;
    // border: 1px solid #F00;
    // background: green;
    // overflow: hidden;
    overflow-y: scroll;
    position: relative;
    &::-webkit-scrollbar{
        display: none;
    }
    padding-top: 4rem;
    // background: #DDD;
    p{
        padding-left: 1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        margin-top: 2rem;
        color: #000;

    }

}


.topBar{
    // display: none;
    width: 390px;
    height: 40px;
    background: #777;
    position: absolute;
    z-index: -1;
    top: calc(2rem + 27px);
    left: 50%;
    transform: translateX(-50%);
}
.footer{
    position: relative;
    z-index: 2;
    top: -45px;
    height: 18px;
    width: 375px;
    margin: auto;
    background: #000;
    
    span{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: #FFF;
        width: 100px;
        height: 3px;
        

    }

}
.navbar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 840px;
    width: 390px;
    height: 50px;
    // border: 1px solid #F00;
    background: #252020a2;
    z-index: 3;
    ul{
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        top: -10px;

        li{
            // display: none;
            width: 25%;
            height: 50px;
            text-align: center;
            color: #FFF;
            // border: 1px solid #FFF;
        }
    }
}
// 登入帳號前
.Login{
    .BtnBox{
        // border: 1px solid #F00;
        position: absolute;
        bottom: 4rem;
        text-align: center;
        button{
            // display: none;
            margin-top: 0.5rem;
            &.whiteBtn{
                // display: inline-block;
                cursor: pointer;
                transform: translateY(-180px) scale(1.5);
                margin-left: 45%;
                text-align: center;
                color: $mainOrg;
                font-weight: bold;
            }
        }
    }
}
// 首頁
.home{
    .header{
        // border: 1px solid #F00;
        position: absolute;
        top: 0;
        width: 100%;
        .title{
            padding-top: 1rem;
            padding-left: 1rem;
            p{
                padding: 0;
                margin: 0;
                color: #FFF;
                font-weight: normal;
            }
        }
        .mailIcon{
            cursor: pointer;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }
    .ItemBox{
        .block{
            background: $darkBg;
            margin-top: 1rem;
            border-radius: 10px;
            position: relative;
            &:last-child{
                padding-bottom: 4rem;
                background: transparent;
            }
            .itemMsg{
                padding-bottom: 1rem;
                a,span{
                    color: #FFF;
                    text-decoration: none;
                }
                .calldata{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    padding-bottom: 1rem;
                    li{
                        width: 45%;
                        margin-top: 1rem;
                        height: 120px;
                        background: #000;
                        position: relative;
                        a{
                                width: 60px;
                                text-align: center;
                                position: absolute;
                                right: 1rem;
                                top: 1rem;
                                background: $mainOrg;
                                border-radius: 30px;
                        }
                        span{
                            display: block;
                            padding-left: 1rem;
                            &:nth-child(1){
                                padding-top: 1rem;
                                padding-bottom: 0.5rem;
                            }
                            &:nth-child(2){
                                font-size: 23px;
                                font-weight: bold;
                                color: $mainOrg;
                            }
                            &:nth-child(3){
                                color: #a4a8c4;
                            }
                        }
                    }
                    .btn{
                        cursor: pointer;
                        margin-top: 1rem;
                        
                    }

                }    
                         
                .plan{
                    padding-left: 1rem;
                }  
                .bill{
                    padding-left: 2rem;
                    font-size: 22px;
                    font-weight: bold;
                    position: relative;
                    span{
                        &:nth-child(2){
                            position: absolute;
                            right: 2rem;
                        }
                    }
                }                              
            }
            .itemTitle{
                padding-top: 1rem;
                padding-left: 1rem;
                padding-bottom: 0.5rem;
                color: #c1c2e9;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                .callPayDate{
                    position: absolute;
                    right: 1rem;
                    color: #FFF;
                }      
                &.topBorder{
                    &::before{
                        content: '';
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        width: 90%;
                        height: 2px;
                        left: 50%;
                        transform: translate(-50%,0);
                        background: #3d4971;
                    }
                }                             
            }

            .see{
                position: absolute;
                right: 2rem;
                top: 1rem;
            }
        }
    }
    .ItemBox{
        &.home{
            .block{
                &.otherLink{
                    background: transparent;
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        li{
                            position: relative;
                            width: 48%;
                            background: $darkBg;
                            margin-left: 5px;
                            margin-top: 1rem;
                            padding: 0.5rem 0;
                            &::before{
                                position: absolute;
                                left: 1.8rem;
                            }
                            a{
                                display: block;
                                width: 100%;
                            }
                            span{
                                display: inline-block;
                                width: 100%;
                                color: #FFF;
                                text-align: center;
                            }
                            &:nth-child(1){
                                &::before{
                                    content: url(../img/home/otherLink01.png);
                                }
                            }
                            &:nth-child(2){
                                &::before{
                                    content: url(../img/home/otherLink02.png);
                                }
                            }
                            &:nth-child(3){
                                &::before{
                                    content: url(../img/home/otherLink03.png);
                                }
                            }
                            &:nth-child(4){
                                &::before{
                                    content: url(../img/home/otherLink04.png);
                                }
                            }
                            &:nth-child(5){
                                &::before{
                                    content: url(../img/home/otherLink05.png);
                                }
                            }
                            &:nth-child(6){
                                &::before{
                                    content: url(../img/home/otherLink06.png);
                                }
                            }
                        }
                    }
                }
            }
            .itemTitle{
                span{
                    &.ringIcon{
                        padding-left: 1rem;
                        &::before{
                            position: absolute;
                            left: 0.5rem;
                            content: url('../img/home/ringIcon.png');
                        }
                    }
                    &.infoIcon{
                        &::after{
                            position: relative;
                            top: 3px;
                            left: 5px;
                            content: url('../img/home/infoIcon.png');
                        }
                    }
                }
            }
            .itemMsg{
                .oldcustom{
                    display: inline-block;
                    width: 100%;
                    padding: 0 1rem;
                    padding-bottom: 0.5rem;
                }
                .device{
                    img{
                        margin-left: 1rem;
                    }
                    span{
                        position: absolute;
                        margin-left: 1rem;
                        top: 3rem;
                        // border: 1px solid #FFF;
                    }
                }
            }
            .banner{
                margin-top: 1rem;
            }
        }
        &.service{
            .block{
                &.nodata{
                    background: transparent;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);

                    span{
                        margin-top: 1rem;
                        display: block;
                        width: 100%;
                        text-align: center;
                        color: #d5d9fe;
                        font-weight: bold;
                    }
                }
            }
            
            .serviceNav{
                background: #19254d;
                display: flex;
                justify-content: space-around;
                li{
                    width: 33%;
                    color: #d5d9fe;
                    padding: 1rem 0;
                    text-align: center;
                    cursor: pointer;
                    position: relative;

                    &.active{
                        color: $mainOrg;
                        span{
                            // border: 1px solid #F00;
                            position: relative;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 125%;
    
                                display: inline-block;
                                width: 90%;
                                height: 2px;
                                left: 5%;
                                background: $mainOrg;
                            }                        

                        }
                    }
                }
            }
            .iconImg{
                position: absolute;
                top: 0.5rem;
                left: 1rem;
            }
            .itemTitle{

                &.appIcon{
                    font-size: 18px;
                    padding-left: 3rem;
                    position: relative;
                }
            }
            .itemMsg{
                color: #FFF;
                padding-left: 1rem;
            }
            .itemPrice{
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: $mainOrg;
                font-weight: bold;
            }
            .serviceBanner{
                position: relative;
                top: -1px;
                // border: 1px solid #F00;
                width: 100%;
            }

        }
        &.discount{
            .itemMsg{
                span{
                    font-size: 1.1rem;
                    display: block;
                    padding: 0 1rem;
                }
                .banner{
                    position: relative;
                    // border: 1px solid #F00;
                    img{
                        text-align: center;
                        margin-left: 1rem;
                        // position: absolute;
                        // left: 50%;
                        // transform: translate(-50%);
                    }
                }
            }
        }
        &.setting{
            .userSetting{
                border: 1px solid #CCC;
                background: #ffffff10;
                border-radius: 7px;
                position: relative;
                min-height: 120px;
                color: #FFF;
                .userName{
                    display: block;
                    padding-top: 0.5rem;
                    margin-left: 1rem;
                }
                .userPhone{
                    padding-left: 1rem;
                    padding-top: 0.5rem;
                    display: block;
                }
                .userType{
                    position: absolute;
                    bottom: 1rem;
                    padding-left: 1rem;
                }

            }
            .settingIcon{
                cursor: pointer;
                position: absolute;
                right: 1rem;
                top: 1rem;
            }
            .settingNav{
                margin-top: 1rem;
                background: #19254d;
                display: flex;
                justify-content: space-around;
                li{
                    width: 50%;
                    color: #d5d9fe;
                    padding: 1rem 0;
                    text-align: center;
                    cursor: pointer;
                    position: relative;

                    &.active{
                        color: $mainOrg;
                        span{
                            // border: 1px solid #F00;
                            position: relative;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 125%;
    
                                display: inline-block;
                                width: 90%;
                                height: 2px;
                                left: 5%;
                                background: $mainOrg;
                            }                        

                        }
                    }
                }
            }   
            .itemMsg{
                a{
                    display: block;
                }
            }
            .settingList{
                padding-bottom: 1rem;
                li{
                    cursor: pointer;
                    background: $listColor;
                    width: 90%;
                    margin-left: 1rem;
                    position: relative;
                    padding: 0.5rem 0;
                    border-radius: 3px;
                    // border: 1px solid #F00;
                    overflow: hidden;
                    span{
                        &:nth-child(1){
                            padding-left: 3rem;
                            display: block;
                            position: relative;
                            font-weight: bold;
                            color: $blockTxt;
                            width: 100%;
                            &::after{
                                content: url(../img/setting/list/arrow.png);
                                position: absolute;
                                right: 0.5rem;
                                top: 50%;
                                transform: translateY(-45%);
    
                            }
                        }
                        &.orgBtn2{
                            position: absolute;
                            top: 50%;
                            right: 1rem;
                            transform: translateY(-50%);
                            font-size: 0.8rem;
                        }
                    }
                    img{
                        left: 1rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);                        
                    }
                    &::after{
                        background: #252b41;
                        // background: #FFF;
                        display: inline-block;
                        content: '';
                        width: 90%;
                        height: 10px;
                        position: absolute;
                        left: 50%;
                        top: 95%;
                        transform: translateX(-50%);
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                    &.Collectionlimit{
                        span{
                            &:nth-child(1){
                                margin-top: 0.5rem;
                                transform: translate(0,-25%);
                                padding: 0.3rem 0 0rem 3rem;
                            }
                        }
                        img{
                            top: 25%;
                            transform: translate(0,-25%);
                        }
                        .limitVal{
                            // border: 1px solid #F00;
                            color: $mainOrg;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 100px;
                            height: 2rem;
                            padding: 1rem;
                            background: $listColor;
                            &::after{
                                content: url(../img/setting/list/arrow2.png);
                                display: inline-block;
                                position: absolute;
                                right: 0.5rem;
                                transform: translateY(-25%);
                            }
                        }
                        .limitmsg{
                            color: #FFF;
                            padding-left: 1rem;
                        }
                    }                    
                }
                .boolBox{
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 2rem;

                    .bool,.txt{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-weight: bold;
                        right: 0;
                        width: 80px;
                    }
                    .txt{
                        color: #FFF;
                    }

                }
            }
            .TelecomBilling{
                background: $listColor;
                display: flex;
                width: 90%;
                margin: auto;
                .circle{
                    width: 25%;
                    width: 80px;
                    height: 80px;
                    border: 6px solid $mainOrg;
                    margin-left: 1rem;
                    border-radius: 50%;
                }
                .cont{
                    width: 75%;
                    margin-left: 1rem;
                    position: relative;
                    span{
                        display: block;
                        &:nth-child(1){
                            margin-top: 0.5rem;
                            color: #FFF;
                            font-weight: bold;
                        }
                        &:nth-child(2){
                            color: $mainOrg;
                        }
                        &:nth-child(3){
                            color: $blockTxt;
                        }
                    }
                    .orgBtn2{
                        position: absolute;
                        top: 0.5rem;
                        right: 1rem;
                        font-size: 0.8rem;
                    }
                }
            }


        }
    }
}